<div class="center jumbotron"> 
<h3> Add instruction </h3>
<%= form_with(model: @plants_user, url: user_plant_plants_users_path, local: true) do |f| %>

<%= f.fields_for :instructions do |i_form| %>
    <%= i_form.text_area :notes, placeholder: "Add instructions here", class: 'form-control' %>

    <%end%>
<%= f.submit "Add", class: "btn btn-primary" %>
<%end%>
</div>