<h1><%= @user.full_name %></h1>

<div>
  <p>  <% current_user.plants.each do |p| %>
    <%= p.common_name %><br>
    <%= p.scientific_name %><br>
    <a href=<%= p.photo%> >
   
    <%end%>
    </p><br>
</div>



