<% provide(:title, 'Home')%>

<div class="center jumbotron">
    <h3>About Thyme Saver </h3>
        <div class="content">
        <h3>Thyme Saver is an app to help you manage your plants.<br> Keep track of what plants you have (or want!) and all the different tasks that go into having a great garden!</h3>
        </div>
        <div class="card-button">
        <% if !logged_in? %>
            <%= button_to "Sign Up Now!", new_user_path, method: :get %> <p>or</p> <%= button_to "Log In with Facebook!", '/auth/facebook'%>
        <%end%>
        </div>
    
</div>